include book-data

section.book
  .container
    .book__wrapper
      .book__picture
        img.book__img(src= book.image width= book.width height= book.height alt=`Обложка книги - ${book.title}`)
      .book__inner
        .book__top
          .book__line
            // svg иконка
            span.book__star= book.star
            span.book__grade #{book.grade} оценки
          h1.book__title= book.title
          p.book__author= book.author
        .book__description
          .book__information
            h2.book__heading Информация
            ul.book__info-list
              each info in book.information
                li.book__info-item
                  span.book__term= info.term
                  span.book__def= info.def
          .book__annotation
            h2.book__heading Аннотация
            p.book__text= book.annotation